<a [routerLink]="['/ProductDetails', equipement.product.idProduct]">
  <div class="card m-4">
<div class="card-main">
  <div class="discount">New</div>
  <div class="label label-green">{{equipement.product.category}}</div>
  <div class="product-container">
      <div class="p" (mouseover)="imageChange(equipement,0)"><img [src]="'data:image/jpeg;base64,'+equipement.product.files[0].file"
              alt="Product"></div>
      <div *ngIf="equipement.product.files[1].file" class="p" (mouseover)="imageChange(equipement,1)"><img [src]="'data:image/jpeg;base64,'+equipement.product.files[1].file"
              alt="Product"></div>
      <div *ngIf="equipement.product.files[2].file" class="p" (mouseover)="imageChange(equipement,2)"><img [src]="'data:image/jpeg;base64,'+equipement.product.files[2].file"
              alt="Product"></div>
  </div>
  <div class="image">
      <img [src]="'data:image/jpeg;base64,'+equipement.url" alt="Product">
  </div>
  <div class="cart-line"></div>
</div>
<div class="content">
  <a href="#">{{equipement.product.name}}</a>
  <p><span class="money">{{equipement.product.price}}DT</span></p>
</div>
</div>
</a>
