<div class="tab-pane styled-Modal" id="reset-password">
    <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
      <fieldset>
        <legend>Reset Password</legend>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="reset-password-email" required ngModel class="form-control"
            placeholder="Enter email (example@email.com)">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="button" class="btn btn-secondary" (click)="dismissModal()">Cancel</button>
        <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary color">
          <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>
          <span *ngIf="refreshing">Loading...</span>
          <span *ngIf="!refreshing">Reset Password</span>
        </button>
      </fieldset>
    </form>
</div>
