.styled-Modal{
    border: 2px #006A4E solid;
padding: 20px !important;
}

.form-control{
    border-radius: 0 !important;
}

button{
    border-radius: 0 !important;
    margin: 5px !important;

}

.color{
    background-color: #1B4D3E !important;
}