<div class="mx-5">
  <div class="mx-5 mt-4 mb-4">
      <h4>Add New Product</h4>
  </div>

  <div class="card mx-5">
      <div class="card-body">
          <form enctype="multipart/form-data" (ngSubmit)="upsertProduct(productNgForm)" #productNgForm="ngForm" #form>
              <div class="container-fluid row mt-2">
                  <div class="col-lg-6 col-md-12 p-5 container-left-side">

                      <div class="form-group mb-3">
                        <label for="categorySelect" class="form-label">Category</label>
                        <select class="form-select" id="categorySelect" [(ngModel)]="product.category" name="category">
                          <option *ngFor="let category of categories" [value]="category">{{ formatCategoryName(category) }}</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label for="name">Name</label>
                        <input #nameRef="ngModel" type="text" required class="form-control"
                        [ngClass]="{'is-invalid' :(nameRef.invalid &&(nameRef.touched || nameRef.dirty))}"
                         id="name" name="name" [(ngModel)]="product.name" required minlength="5">
                        <div *ngIf="nameRef.invalid && (nameRef.touched ||nameRef.dirty)" class="invalid-feedback">
                            <div *ngIf="nameRef.errors?.['required']">Product Name is required.
                            </div>
                            <div *ngIf="nameRef.errors?.['minlength']"> Product Name is too short.
                            </div>
                          </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label ">Product Price</label>
                      <div class="input-group mb-3">
                          <span class="input-group-text">$</span>
                          <input #priceRef="ngModel" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" required min="1"
                           [ngClass]="{'is-invalid' :(priceRef.invalid &&(priceRef.touched || priceRef.dirty))}" id="price" name="price" [(ngModel)]="product.price">
                          <div *ngIf="priceRef.invalid && (priceRef.touched ||priceRef.dirty)" class="invalid-feedback">
                              <div *ngIf="priceRef.errors?.['required']">Product Price is required.
                              </div>
                            </div>
                      </div>
                  </div>
                      <label class="mb-2">Add Images</label>
                      <div class="custom-dropzone" ngx-dropzone (change)="onSelect($event)">
                          <ngx-dropzone-label>
                              <div>
                                <i class="bi bi-cloud-arrow-up-fill icon"></i>
                                <h4>Drag an image here or browse for an image to upload.</h4>
                              </div>
                          </ngx-dropzone-label>
                          <ngx-dropzone-image-preview   ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                              [file]="f"  [removable]="true" (removed)="onRemove(f)">
                              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                          </ngx-dropzone-image-preview>
                      </div>
                  </div>

                  <div class="col-lg-6 col-md-12 p-5 ">

                    <div class="form-group mb-3">
                      <label for="state">State</label>
                      <input #stateRef="ngModel" type="text" required class="form-control"
                      [ngClass]="{'is-invalid' :(stateRef.invalid &&(stateRef.touched || stateRef.dirty))}"
                       id="state" name="state" [(ngModel)]="product.state" required minlength="5">
                      <div *ngIf="stateRef.invalid && (stateRef.touched ||stateRef.dirty)" class="invalid-feedback">
                          <div *ngIf="stateRef.errors?.['required']">Product State is required.
                          </div>
                          <div *ngIf="stateRef.errors?.['minlength']"> Product State is too short.
                          </div>
                        </div>
                  </div>
                      <div class="form-group mb-3">
                          <label for="description">Description</label>
                          <textarea #descriptionRef="ngModel" rows="5" required class="form-control"
                          [ngClass]="{'is-invalid' :(descriptionRef.invalid && (descriptionRef.touched || descriptionRef.dirty))}"
                           id="description" name="description"
                              [(ngModel)]="product.description" required minlength="50"></textarea>
                              <div *ngIf="descriptionRef.invalid && (descriptionRef.touched ||descriptionRef.dirty)" class="invalid-feedback">
                                  <div *ngIf="descriptionRef.errors?.['required']">¨Product Description is required.
                                  </div>
                                  <div *ngIf="descriptionRef.errors?.['minlength']"> Product Description is too short.
                                  </div>
                                </div>
                      </div>


                      <div class="form-group mb-3">
                          <label for="size">Size</label>
                          <input  #sizeRef="ngModel" type="number" class="form-control"
                           id="size" name="size"
                              [(ngModel)]="product.size">
                      </div>

                      <div class="form-group mb-3">
                        <label for="weight">Weight</label>
                        <input  #sizeRef="ngModel" type="number" class="form-control"
                         id="weight" name="weight"
                            [(ngModel)]="product.weight">
                    </div>

                    <div class="form-group mb-3">
                      <label for="color">Color</label>
                      <input #colorRef="ngModel" type="text" class="form-control"
                       id="color" name="color" [(ngModel)]="product.color">

                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="availablecheckbox" checked="" name="available" [(ngModel)]="product.available">
                    <label class="form-check-label" for="availablecheckbox">
                      Available
                    </label>
                  </div>


                      <div class="d-flex justify-content-end">
                          <button type="submit" class="btn btn-primary" [disabled]="!form.checkValidity()" >Add Product</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
