<div class="row mt-5 mx-2">
  <div class="col-3 filters px-3">
  <div class="p-3 pb-5 py-4">
    <div class="d-flex justify-content-between align-items-center">
      <h5>Filter</h5>
      <button  class="btn btn-outline-primary filters-clear" (click)="clearFilter()">Clear</button>
    </div>
    <div class="py-3">
      <h6>Category</h6>
      <mat-chip-listbox aria-label="Fish selection" selectable multiple [(ngModel)]="selectedCategories">
        <mat-chip-option  *ngFor="let category of categories" [value]="category" class="custom-chip" color="accent" (click)="toggleCategorySelection(category)" >
          {{ formatCategoryName(category) }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="pb-4">
      <h6>Price Range</h6>
      <ngx-slider [(value)]=" ProductFilter.minPrice" [(highValue)]="ProductFilter.maxPrice" [options]="options" (userChange)="getFilteredProducts()"></ngx-slider>
    </div>
  </div>
</div>

  <div class="col-9 py-3">
    <div class="d-flex justify-content-between align-items-center pb-3 px-3">
      <app-paging-header class="align-items-center"
          [totalCount]="totalItems"
          [pageNumber]="p"
          [pageSize]="pageSize"
      ></app-paging-header>

      <div class="d-flex mt-2 align-items-center">
          <input (keyup.enter)="getFilteredProducts()" type="text" placeholder="Search" [(ngModel)]="ProductFilter.searchTerm" class="search-input form-control me-2" #search>
          <button (click)="getFilteredProducts()" class="btn btn-primary mx-2">Search</button>
          <button (click)="onReset()" class="btn btn-secondary">Reset</button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon >sort</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let sort of sortOptions" (click)="selectSortOption(sort.value)" [ngClass]="{'selected-sort' : sort.value==ProductFilter.sort}">
              <mat-icon>{{sort.icon}}</mat-icon>
              <span>{{sort.name}}</span>
            </button>
          </mat-menu>
      </div>

  </div>
    <div class="row events">
      <div class="col-lg-4 col-md-6 event-container px-0 mx-0 mb-3" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: p , totalItems: totalItems}">
        <app-product-card [equipement]="{product:product,url:product.files[0].file}"></app-product-card>
      </div>
    </div>

  <div class="pagination-container">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>

</div>
