<div class="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-box">
                    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                        <img class="logo-default" decoding="async" nitro-lazy-empty="" id="NDA6OTI=-1" src="../../../assets/images/Tunisia_Camp.png">
                    </a>
                <div class="card-area mt-4">
                    <p>Discover the beauty of Tunisia through our curated camping experiences.</p>  
                </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-7">
                <div class="single-box bottom-socials"> 
                    <div class="text-center socialsRel">
                        <p class="socials text-center">
                            <a href="#" class="icon-link" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="icon-link" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="icon-link" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            <a href="#" class="icon-link" target="_blank"><i class="fa fa-twitter"></i></a>
                        </p>   
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="py-4 my-6 text-center single-box copyrightbg">
        © 2024 CampEase All rights reserved.
    </div>
      <!-- Copyright -->
</div>
