<div class="container" [hidden]="!isAdmin">
<div role="document">
  <div>
    <div>
      <h5 class="text-center">New User</h5>
    </div>
    <div>
      <div>
        <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" required ngModel class="form-control" />
              </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" required ngModel class="form-control" />
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" required ngModel class="form-control" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" required ngModel class="form-control" />
          </div>
          <div *ngIf="isAdmin" class="form-group">
            <label for="authority">Role</label>
            <select name="role" required ngModel="ROLE_USER" class="form-control">
              <option value="ROLE_USER">USER</option>
              <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
            </select>
          </div>
          <div *ngIf="!isAdmin" class="form-group">
            <label for="authority">Role</label>
            <input type="text" name="role" required ngModel="USER" readonly class="form-control" />
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile Picture </span>
            </div>
            <div class="custom-file">
              <!-- <input type="file" accept="image/*" name="profileImage"
                (change)="onProfileImageChange($event.target.files[0].name, $event.target.files[0])"
                  class="custom-file-input"> -->
              <label class="custom-file-label"><span [hidden]="!fileName">{{ fileName }}</span>
                <span [hidden]="fileName">Choose File</span>
              </label>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="active" ngModel class="form-check-input" />
                Acitve
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input type="checkbox" name="notLocked" ngModel class="form-check-input" />
                Unlocked
              </label>
            </div>
          </fieldset>
          <button type="submit" style="display: none" id="new-user-save"></button>
        </form>
      </div>
    </div>
    <div class="">
      <button type="button" class="btn btn-secondary"  id="new-user-close">
        Close
      </button>
      <button type="button" (click)="saveNewUser()" [disabled]="newUserForm.invalid" class="btn btn-primary">
        Save changes
      </button>
    </div>
  </div>
</div>
</div>
