.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}



.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}



.demo-row-is-clicked {
  font-weight: bold;
}






.filters{
  background-color: white;
  height: 100%;
}



.filters .filters-clear {
  font-size: 13px;
  float: right;
  line-height: 22px;
}





.mat-mdc-standard-chip.mat-accent.mat-mdc-chip-selected, .mat-mdc-standard-chip.mat-accent.mat-mdc-chip-highlighted {
  --mdc-chip-elevated-container-color: #0DEC67;
}
.event-container{
  position: relative;



}
.events{
  padding-right: 20px;
}
.pagination-container {
  display: flex;
  justify-content: flex-end;
}





.btn-secondary{
  background-color: #fff;
  color: #0d0d0d;
  border-color: #0d0d0d;
  width: 100px ;
  height: fit-content;



}
.btn-secondary:hover{
  background-color: #0d0d0d;
  color: #fff;
  border-color: #0d0d0d;
}



.btn-primary{
  background-color: #fff;
  color: #0DEC67;
  border-color: #0DEC67;
  height: fit-content;
  width: 100px ;
}
.btn-primary:hover{
  background-color: #0DEC67;
  border-color: #0DEC67;
  color: #fff;
}
.btn-outline-primary{
  border: none;
}
.btn-outline-primary:hover{
  background-color: #0d0d0d;
  color: #fff;
  border-color: #0d0d0d;
}





.search-input{
  height: fit-content;



}



.selected-sort {
  background-color: rgb(232, 229, 229);
}



.btn-add{
  height: fit-content;
  background-color: #0d0d0d;
  color: #fff;
  border-color: #0d0d0d;



}
.btn-add:hover{
  background-color: #fff;
  color: #0d0d0d;
  border-color: #0d0d0d;
}




.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 20px;
}
