<div class="container-fluid custom-style">
  <div class="g-0 row align-items-stretch">
    <div
      class="col-md-6 col-sm-6 text-black d-flex flex-column justify-content-center"
    >
      <div class="px-5 ms-xl-4">
        <div class="align-items-center justify-content-center">
          <img
            class="img-icon-style my-2"
            src="../../../assets/images/Tunisia_Camp.png"
          />
        </div>
        <div class="align-items-center justify-content-center">
          <h3 class="fw-normal mb-3 pb-3">Welcome Back!</h3>
        </div>
      </div>
      <div
        class="d-flex align-items-center justify-content-center ms-xl-4 mt-2 pt-3 pt-xl-0 mt-xl-n5"
      >
        <div>
          <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
            <div class="align-items-center justify-content-center mb-3">
              <span
                >To keep connected with us please login with your personal
                info</span
              >
            </div>
            <div class="form-floating form-group mb-3">
              <i class="ico fa fa-user"></i>
              <input
                type="text"
                class="form-input"
                placeholder="Username"
                name="username"
                ngModel
                #usernameInput="ngModel"
                required
              />
            </div>
            <span
              class="help-block"
              style="color: red"
              *ngIf="usernameInput.invalid && usernameInput.touched"
              >Please enter a username</span
            >
            <div class="form-floating form-group mb-3">
              <i class="ico fa fa-lock"></i>
              <input
                type="password"
                class="form-input"
                name="password"
                placeholder="Password"
                ngModel
                #passwordInput="ngModel"
                required
              />
            </div>
            <span
              class="help-block"
              style="color: red"
              *ngIf="passwordInput.invalid && passwordInput.touched"
              >Please enter a password.</span
            >
            <div class="container mb-3">
              <div>
                <button (click)="openResetPasswordModal()" class="styled-reset"
                >Reset Password</button>
              </div>
            </div>
            <div
              class="my-3 align-items-center justify-content-center space-vertically"
            >
              <button
                type="submit"
                class="btn btn-block button-style"
                [disabled]="loginForm.invalid || showLoading"
                name="button"
              >
                <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i
                >
                <span *ngIf="showLoading">Loading...</span>
                <span *ngIf="!showLoading">Login</span>
              </button>
            </div>
          </form>
          <div class="d-flex align-items-center justify-content-center mb-3">
            <span class="">Don't have an account?  </span>
            <a routerLink="/register" class="ml-2 ms-2 font-weight-bold" style="color: #2c3e50"
              > Sign Up</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md-6 ps-0 pe-0 img-container-layout d-flex align-items-center"
    >
      <div class="img-wrapper mx-auto">
        <img class="img-style" src="../../../assets/images/camplog.jpg" />
      </div>
    </div>
  </div>
</div>
