.event-card{
  background-color: #fff;
  padding: 20px;
  margin-left: 30px;
  border-radius: 5px;
  border-bottom: 1px solid#a8a8a8;
}
.event-card-home{
  margin-left: 50px;
}
.date{
  position: absolute;
  z-index: 2;
  background: #0DEC67;
  padding: 15px 10px;
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.date-home{
  top :0;
  left: 60px;
}
.date h3{
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 700;
  display: block;
}
.date h4{
  color: #f3f7fb;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.event-img{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 200px ;
  overflow: hidden;
}
.event-img img{
  width: 100%;
  height: 100%;
  transition: all .3s ease;
}
.event-img img:hover{
  transform: scale(1.2);
}

.event-card h2{
  text-transform: capitalize;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0 10px;
  cursor: pointer;
  transition: all .3s ease;
}

.event-card h2:hover{
  color: #0DEC67;
}
.event-card p{
  color: #777;
  line-height: 21px;
  font-size: 14px;
  transition: 500;
}
.read-more{
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 0;
  display: block;
  background: #333;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
}
.read-more i{
  margin-left: 4px;
}
.read-more:hover{
  background: #0DEC67;
  color: #fff;
}
.read-more:hover i{
  margin-left: 6px;
}
